.pagination {
    position: absolute;
    bottom: 15px;
    left: 50vw;
    display: flex;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    background-color: var(--white);
  
    & > div {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      color: var(--primary);
      border-right: 1px solid var(--primary);
      padding-bottom: 3px;
  
      &:first-child,
      &:last-child {
        font-size: 30px;
        padding-bottom: 8px;
      }
  
      &:last-child {
        border-right: none;
      }
    }
  }