*{
    box-sizing: border-box;
  }
  
  ::root 
  {
    --primary: #675bf1;
    --new: #04be00
  }
  
  a,p,ul,li,h1,
  h2,h3,h4,h5,h6
  {
    padding: 0;
    margin: 0;
  }
  
  p {
    font-size: 14px;
    line-height: 18px;
  }
  
  .layout
  {
    width: 1250px;
    margin: 15px auto;
   
  }
  
  .containerItem
  {
    
    width: 200px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid var(--primary);
    padding: 15px;

  }
  
  .containerItem_title,
  .containerItem_status,
  .containerItem_desscription > p:first-child {
    font-weight: bold;
  }
  
  .containerItem_status--new
  {
    color: var(--new);
  }
  
  .containerItem_lineBreak{
    height: 2px;
    background: var(--primary);
  }
  
  .containerItem_desscription > p:last-child {
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }